html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'Shadows Into Light Two', cursive;
  font-weight: 400;
  margin: 0;
}

header {
  background-color: #71BDC1;
}

h1 {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 0;
  padding: 0.5em;
  text-align: center;
}

.nav {
  margin: 0;
  overflow: hidden;
  padding: 0;
  background-color: black;

  font-size: 1.5rem;
  list-style-type: none;
  text-align: center;
}

.nav li {
  float: left;
  width: 33.333%;
  border-right: 1px solid #71BDC1;
}

.nav a {
  display: block;
  padding: 0.4rem 0;
  width: 100%;
  color: #fff;
  text-decoration: none;
}

.nav a:hover {
  background-color: #F4E06C;
  color: black;
}

img {
  width: 100%;
  display: block;
}

.steak {
  position: relative;
}

.banner {
  position: absolute;
  top: 35%;
  left: 65%;
  font-weight: 400;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  background-color: #F4E06C;
  padding: 0.25em 0 0.25em 0;
  margin: 0;
  background: linear-gradient(to right, #F4E06C, white);
}

p {
  text-align: center;
}

h4 {
  font-size: 1.5rem;
  background-color: #71BDC1;
  text-align: center;
  color: white;
  padding: 0.25em;
  font-weight: 400;
  margin: 0;
  clear: both;
}

.pasta {
  position: relative;
}

.banner-pasta {
  position: absolute;
  colour: white;
  background-colour: none;
}

figure {
  width: 50%;
  margin: 0;
  float: left;
}

figcaption {
  text-align: center;
  padding: 0.25em 0 0.25em 0;
}

.beers {
  clear: both;
  background-color: rgba(244, 224, 108, 0.4);
}

p {
  font-family: 'Open Sans', sans-serif;
  padding: 0.5em;
  margin: 0.5em 0 0 0;
}

.
