html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'Shadows Into Light Two', cursive;
  font-weight: 400;
  margin: 0;
}

header {
  background-color: #71BDC1;
}

h1 {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
  padding: 0.5em;
  text-align: center;
  width: 100%;
}

.nav {
  margin: 0;
  overflow: hidden;
  padding: 0;
  background-color: black;

  font-size: 1.5rem;
  list-style-type: none;
  text-align: center;
}

.nav li {
  float: left;
  width: 33.333%;
  border-right: 1px solid #71BDC1;
}

.nav a {
  display: block;
  padding: 0.4rem 0;
  width: 100%;
  color: #fff;
  text-decoration: none;
}

.nav a:hover {
  background-color: #F4E06C;
  color: black;
}

img {
  width: 100%;
  display: block;
}

.steak {
  position: relative;
}

.banner {
  position: absolute;
 top: 8em;
  left: 68%;
  font-weight: 400;
  margin: 0;
}

.title {
  background: linear-gradient(to right, #F4E06C, white);
}

h3 {
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
  padding: 0.5em 0 0.5em 0;
  margin: 0;

}

h4 {
  font-size: 1.5rem;
  background-color: #71BDC1;
  text-align: center;
  color: white;
  padding: 0.25em;
  font-weight: 400;
  margin: 0;
}

.pasta {
  position: relative;
}

.banner-pasta {
  position: absolute;
  background-color: transparent;
  width: 100%;
  text-align: center;
  z-index: 2;
  bottom: -20px;
}

.specials {
  text-align: center;
  line-height: 2em;
}

figure {
  width: 50%;
  margin: 0;
  float: left;
}

figcaption {
  text-align: center;
  padding: 0.75em 0 0.75em 0;
}

.beers {
  clear: both;
  background-color: rgba(244, 224, 108, 0.4);
}

p {
  font-family: 'Open Sans', sans-serif;
  padding: 0.5em;
  margin: 0 0 0 0;
}

.art {
  position: relative;
}

.art-banner {
  position: absolute;
  color: white;
  text-align: center;
  width: 100%;
  top: 5px;
}

.events {
  background-color: rgba(244, 224, 108, 0.4);
}

.band {
  width: 50%;
  float: left;
  padding: 1em 0 0 0;
}

.band-text {
  clear: both;
  padding: 1em;
}

footer {
  background-color: rgba(113, 189, 193, 0.4);
  text-align: center;
}

.hours {
  float: left;
  width: 50%;
  background-color: rgba(113, 189, 193, 0.4);
}

.contact {
  float: left;
  width: 50%;
  background-color: rgba(113, 189, 193, 0.4);
}
