html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'Shadows Into Light Two', cursive;
  font-weight: 400;
  margin: 0;
  font-size: 1rem;
}

header {
  background-color: #71BDC1;
}

p {
  font-family: 'Open Sans', sans-serif;
  margin: 0 0 0 0;
  line-height: 1.5em;
  padding: 1em;
}

h1 {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
  padding: 0.5em;
  text-align: center;
  width: 100%;
}

.nav {
  margin: 0;
  overflow: hidden;
  padding: 0;
  background-color: black;

  font-size: 1.5rem;
  list-style-type: none;
  text-align: center;
}

.nav li {
  float: left;
  width: 33.333%;
  border-right: 1px solid #71BDC1;
}

.nav a {
  display: block;
  padding: 0.4rem 0;
  width: 100%;
  color: #fff;
  text-decoration: none;
}

.nav a:hover {
  background-color: #F4E06C;
  color: black;
}

img {
  width: 100%;
  display: block;
}

.home {
  position: relative;
}

.banner {
  position: absolute;
  left: 66%;
  font-weight: 400;
  margin: 0;
  bottom: 10px;
  font-size: 1.5rem;
  font-family: 'Shadows Into Light Two', cursive;
  padding: 0;
}

.title {
  background: linear-gradient(to right, #F4E06C, white);
  color: black;
  font-size: 1.5em;
}

.home-text {
  text-align: center;
  line-height: 2em;
  padding: 1em 0 1em 0;
  font-size: 1.25em;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  padding: 0.5em 0 0.5em 0;
  margin: 0;
}

h2 {
  font-size: 1.75rem;
  background-color: #71BDC1;
  text-align: center;
  color: white;
  padding: 0.25em;
  font-weight: 400;
  margin: 0;
}

.menu1 {
  position: relative;
}

.banner-pasta {
  position: absolute;
  background-color: transparent;
  width: 100%;
  text-align: center;
  z-index: 2;
  text-shadow: -1px 1px 4px rgba(0,0,0,0.8), 1px 1px 4px rgba(0,0,0,0.8);
  bottom: 0;
  margin: 0;
  background: linear-gradient(to bottom, transparent, black);
  padding: 2em 0 1em 0;
  color: white;
}

.specials {
  text-align: center;
  line-height: 2em;
}

figure {
  width: 50%;
  margin: 0;
  float: left;
}

figcaption {
  text-align: center;
  padding: 0.75em 0 0.75em 0;
  font-size: 1.5em;
}

.beers {
  clear: both;
  background-color: rgba(244, 224, 108, 0.4);
  overflow: hidden;
}

.beer-logo1 {
  float: left;
  width: 30%;
}

.beer-title {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: 'Shadows Into Light Two', cursive;
  padding: 0;
  float: left;
  padding: 5% 0 0 0;
}

.beer-text {
  float: left;
  width: 60%;
  padding: 0;
}

.beer-logo2 {
  float: left;
  width: 30%;
  clear: both;
  padding: 0 0 1em 0;
}

.art1, .art2 {
  position: relative;
}

.art-banner {
  position: absolute;
  color: white;
  text-align: center;
  width: 100%;
  bottom: 0px;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0 0 0.5em 0;
  text-shadow: -1px 1px 4px rgba(0,0,0,0.8), 1px 1px 4px rgba(0,0,0,0.8);
  font-family: 'Shadows Into Light Two', cursive;
}

.art-date {
  font-weight: 700;
  text-align: center;
  font-size: 1.5rem;
  padding: 0.5em;
}

.art-text {
  padding: 0 1em 1em 1em;
}

.events {
  background-color: rgba(244, 224, 108, 0.4);
  clear: both;
  overflow: hidden;
}

.icon {
  float: left;
  width: 20%;
  padding: 1em 0 0 1em;
  clear: both;
}

.events-text {
  float: left;
  width: 70%;
  font-size: 1.25em;
}

.band {
  width: 70%;
  float: left;
  padding: 1em 0 0 0;
}

.events-date {
  font-size: 1.2rem;
  font-weight: 700;
  width: 25%;
  margin: 0 0 0 0.5em;
  float: left;
  padding: 10% 0 0 0;
  text-align: center;
}

.band-text {
  clear: both;
  padding: 1em;
}

footer {
  background-color: rgba(113, 189, 193, 0.4);
  text-align: center;
  overflow: hidden;
}

.footer-text {
  float: left;
  width: 50%;
  line-height: 1.5rem;
}
